$gap: 15px;
$width-img: calc((1200px - 30px - 3 * $gap) / 4);
$height-img: calc($width-img / 16 * 9);
$shadow-card: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
  1px 4px 6px rgba(0, 0, 0, 0.16);

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 80px;
  padding: $gap 0;
}
.gallery .container {
  display: flex;
  flex-wrap: wrap;
  gap: $gap;
}

.gallery__link {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  width: $width-img;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: $shadow-card;
  color: black;
  transform: scale(1);
  transition: transform 250ms linear;
  &:hover,
  &:focus {
    transform: scale(1.025);
  }
}

.photo__img {
  display: block;
  width: 100%;
  height: $height-img;
  object-fit: cover;
  object-position: center;
}

.info {
  align-self: stretch;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 10px;
  padding: 5px;
  background-color: white;
}

.info__item {
  width: calc((100% - 3 * $gap) / 4);
}

.info__title {
  display: block;
  width: 100%;
  text-align: center;
}

.info__data {
  display: block;
  width: 100%;
  text-align: center;
}
