body {
  background-color: rgb(237, 234, 255);
}

.container {
  max-width: 90%;
  margin: auto;
  display: flex;
  justify-content: center;
}

.header {
  background-color: rgb(79, 111, 226);
  padding: 22px 0px;
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
  box-shadow: 0px 10px 21px -6px rgba(0, 0, 0, 0.75);
}

.search-form {
  justify-content: center;
}

input[type='text'] {
  border-radius: 8px 0px 0px 8px;
  font-weight: 600;
  text-align: center;
  padding: 5px;
  border: none;

  &:focus-visible {
    outline: none;
    text-align: center;
  }

  &::placeholder {
    text-align: center;
    font-weight: 400;
  }
}

button[type='submit'] {
  border-radius: 8px 8px 8px 8px;

  background-color: white;
  border: none;
  border-left: 1px solid black;

  margin-left: -15px;
  padding: 5px;

  cursor: pointer;
}

.gallery {
  background-color: rgb(234, 234, 234);
  padding-top: 110px;
}

.gallery .container {
  display: flex;
  flex-wrap: wrap;
}

.photo-card img {
  width: 100%;
  height: 260px;
  object-fit: cover;
  display: block;
}

.gallery__link {
  width: calc((100% - 60px) / 4);
  margin-right: 20px;
  margin-bottom: 20px;

  &:nth-child(4n) {
    margin-right: 0;
  }

  text-decoration: none;
  color: inherit;

  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  background-color: rgb(255, 255, 255);
  transition: all 200ms;

  &:hover {
    box-shadow: 0px 0px 51px -5px rgba(0, 0, 0, 0.75);
    transform: scale(1.005);
  }
}

.info {
  margin: 0;
  padding: 10px;
  display: flex;
  border-top: 1px solid grey;
}

.info-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 25%;
  text-align: center;
}

.info-item:not(:last-child) {
  margin-right: 20px;
}

a {
  color: inherit;
  text-decoration: none;
}

.load-more {
  cursor: pointer;
  display: block;
  color: #fff;
  background-color: rgb(79, 111, 226);
  padding: 10px 15px;
  border: none;
  outline: none;
  border-radius: 8px;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  margin-top: 20px;
  margin-bottom: 40px;

  &:hover {
    // box-shadow: 0px 0px 51px -5px rgba(0, 0, 0, 0.75);
    transform: scale(1.01);
  }
}
